/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary brand color (green from logo) */
  --color-primary: #4b7753;
  /* Background color */
  --color-background: #f9f9f7;
  /* Accent green (for hovers, highlights) */
  --color-accent: #6a9c74;
  /* Dark green (for headers, buttons, strong contrast) */
  --color-dark: #2f4e36;
  /* Soft gray (for borders, lines, dividers) */
  --color-gray: #dde2dc;
}

/*general styles*/
body {
  background-color: var(--color-background);
  color: var(--color-dark);
}
a {
  color: var(--color-primary);
  background-color: var(--color-background) !important;
}
a:hover {
  color: var(--color-accent);
}
hr {
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
body,
p,
li {
  font-family: "Work Sans", sans-serif;
}

/*nav*/
.active {
  font-weight: bold;
}
.logo {
  width: 120px;
  height: auto;
}

/*hero*/

.hero {
  background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80")
    no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero h1 {
  font-size: 2.5rem;
}

#hero-logo {
  position: absolute;
  top: 40px; /* distance from top of hero */
  z-index: 2;
  height: 50px;

}

.carousel-item {
  color:var(--color-dark);
  text-shadow: 
    0 0 5px white,
    0 0 10px white,
    0 0 15px white;
}


/*common issues*/

.card-btn {
    background-color: var(--color-background);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
}

.sect {
  scroll-margin-top: 180px;
  }
 
 
 .help {
  scroll-margin-top: 110px;
 }
 

